name: release

on:
  push:
    branches:
      - master

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        deno: ["1.5.x"]
        os: [ubuntu-latest]
    name: release
    steps:
      - uses: actions/checkout@v2

      - name: Setup deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}

      - name: Bundle
        run: deno bundle --unstable vd.ts ./dist/vd.js

      - uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          files: |
            ./dist/vd.js
          draft: false
