name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        deno: ["1.7.x"]
        os: [ubuntu-latest]
    name: release
    steps:
      - uses: actions/checkout@v2

      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{ matrix.deno }}

      - name: Bundle
        run: |
          deno bundle vd.ts ./dist/vd.js
          cp ./1_extractor/p_worker.js ./dist/p_worker.js

      - uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          files: |
            ./dist/vd.js
            ./dist/p_worker.js
          draft: false
